@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

/* go on with normal style definitions */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input[type="text"]{
    font-family: 'Public Sans', sans-serif;
}

.md-typeset h1 {
  font-size: 1.4rem;
  font-weight: 100;
  color: #000
}

.md-typeset h2 {
  font-size: 1.2rem;
}

.md-header-border-top {
  border-top-width: 0.625rem;
  border-top-style: solid;
  border-top-color: #05758A;
}

.md-header {
  height: 3.025rem!important;
  border-top-width: 0.625rem;
  border-top-style: solid;
  border-top-color: rgb(0, 0, 0);
  box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);
}

.rst-versions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  color: #fcfcfc;
  background: black;
  font-family: "citrixnewsans-bold"!important;
  z-index: 400;
  zoom: 1.3!important;
}

.rst-versions.shift-up {
  height: auto;
  max-height: 100%;
}

.rst-versions.rst-badge {
  width: auto;
  bottom: 20px;
  right: 20px;
  left: auto;
  border: none;
  max-width: 300px;
}

.rst-versions.rst-badge {
  display: block;
  bottom: 50px;
  height: auto;
}

.fa-book:before {
  content: "" !important;
 
}

.icon-book:before {
  content: "" !important;
}

.rst-versions.rst-badge.shift-up .rst-current-version {
  text-align: center !important;
}

a.button6{
display:inline-block;
margin-top: 10px;
margin-left:10px;
border-radius:10px;
font-size:14px;
box-sizing: border-box;
text-decoration:none;
height: 25px;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
font-family:'Public Sans',sans-serif;
font-weight:bold;
color:white;
background-color:#1C9CAD;
text-align:center;
position:relative;
}
@media screen and (min-width: 960px) {
.feedback
{
 display:none;
}
.rating {
  display: inline-block;
  margin-top: 1px;
  margin-bottom:1px;
  padding-right:1px;
}
.rating1 {
  display: none;
}
.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 8px;
}

.like:hover {
  color: green;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.dislike:hover{
  color:red ;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.active {
  color: #2EBDD1;
}
}
@media screen and (max-width: 959px) {
.feedback
{
  display:none;
}
.rating1 {
  display: inline-block;
  margin-top: 1px;
  margin-bottom:1px;
  padding-right:1px;
  text-align: center;
}
.rating {
  display: inline-block;
  margin-top: 1px;
  margin-bottom:1px;
  padding-right:1px;
  text-align: center;
}
.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 8px;
}

.like:hover {
  color: green;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.dislike:hover{
  color:red ;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.active {
  color: #2EBDD1;
}
}
a.button6:active{
top:0.1em;
color:white;
background-color:black;

}
a.button6:hover
{
color:white;
}
.fa
{
 font-size:15px !important; 
}